#testabout {
	border-radius: 0px;
	background-color: rgb(40, 40, 40);
	border: 0px;
}

#testhome {
	border-radius: 0px;
	background-color: rgb(40, 40, 40);
	border: 0px;
}

.font {
	color: white;
	font-family: 'Arial';
}

#home_color {
	color: rgb(126, 55, 55);
}

#country {
	color: black;
	font-family: 'Arial';
	position: relative;
	font-weight: 100px;
	font-size: 30px;
	text-align: center;
	display: block;
	padding: 7px;
	margin: 7% auto 30px auto;
	width: 38%;
}

#lumus {
	background-color: hsl(44, 92%, 54%);
	font-family: 'Arial';
}

#nox {
	background-color: #172a49;
	font-family: 'Arial';
}

.button {
	display: inline-block;
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 38%;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border-radius: 15px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

label {
	position: relative;
	display: inline-block;
	width: 130px;
	font-family: 'Arial';
}

body {
	background-image: url('background_earth.jpg');

	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}


#navDiv{
	width: 100vw;
	height: 5vh;
	margin: 0;
	background-color: rgb(51, 51, 51);
	font-size: 1.5vw;
	text-align: center;
	padding: 0;
}

#navTable{
	padding: 0;
	width: 100%;
	height: 100%;
	border-spacing:0;
    border: none;
    
}

.marging{
	margin: 10px;
}

p{
	color: white;
	font-size: 20px;
}
a{
	color: rgb(119, 119, 119);
	text-decoration: none;
}
a:hover{
	color: white;
}